/* External CSS style file */

* {
    box-sizing: border-box;
 }
 
 body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background: #f1f1f1;
 }
 
 .header h1 {
    font-size: 50px;
 }
 
 
 
 /* Make the logo have a rounded edge */
 img.top-image {
    vertical-align: middle;
 }
 
 /* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
 /* Style the top navigation bar */
 .topnav {
    overflow: hidden;
    background-color: #64bf79;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
 }
 
 /* Style the topnav links */
 .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
 }
 
 /* Change color on hover */
 .topnav a:hover {
    background-color: transparent;
    color: white;
    border-bottom: none;
 }
 
 .topnav a:hover:not(:nth-child(1)) {
    color: white;
    border-bottom: 6px solid;
    border-bottom-color: #024213;
 }
 
 .topnav a[href*="mission.html"]:hover {
    /*Overriding non-hovering effects for sub-task 2A link*/
    color: white;
    border-bottom: 6px solid;
    border-bottom-color: #024213;
 }
 
 .left-nav,
 .right-nav {
    display: flex;
    align-items: center;
 }
 
 img.logo {
    max-width: 90px;
    max-height: 50px;
 }
 
 /* Style the content */
 .content {
    background-color: #fff;
    padding: 10px;
 }
 
 /* Style the footer */
 .footer {
    background-color: #024213;
    color: white;
    padding: 10px;
    text-align: center;
 }
 
 /* Side navigation*/
 .sidenav {
    flex-shrink: 0;
    width: 20%;
    background-color: #bcffbc;
    padding: 30px;
    flex-shrink: 0;
    height: 100vh;
 }
 
 
 body {
    display: flex;
    flex-direction: column;
 }
 
 .page-content {
    flex: 1;
    display: flex;
    height: 100vh;
 }
 
 

 